[user]
	name = Sam Delamarter
	email = sam.delamarter@gmail.com
[core]
	editor = nvim
	excludesFile = ~/dotfiles/git/.gitignore_global
[mergetool]
    prompt = false
[merge]
    tool = nvim
[mergetool "nvim"]
    cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[difftool]
    prompt = false
[diff]
    tool = nvim
[difftool "nvim"]
    cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[alias]
	st = status
	co = checkout
	br = branch -v
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(red)<%an>%Creset' --abbrev-commit --date=local
[includeIf "gitdir/i:~/code/src/bitbucket.spectrum-health.org/"]
	path = ~/dotfiles/git/.gitconfig-work
