let mapleader=','

:map <Leader>e :action GotoClass<CR>
:map <Leader>r :action Refactorings.QuickListPopupAction<CR>
:map <Leader>ac :action ShowIntentionActions<CR>
:map <Leader>gi :action GotoImplementation<CR>
:map <Leader>gr :action FindUsages<CR>
:map <Leader>K :action QuickJavaDoc<CR>
:map gc :action CommentByLineComment<CR>

"" Split
noremap <Leader>h :<C-u>split<CR>
noremap <Leader>v :<C-u>vsplit<CR>

"" Buffer nav
noremap <leader>q gT
noremap <leader>w gt

"" Close buffer
noremap <leader>c :q<CR>

"" Switching windows
noremap <C-j> <C-w>j
noremap <C-k> <C-w>k
noremap <C-l> <C-w>l
noremap <C-h> <C-w>h

"" Vmap for maintain Visual Mode after shifting > and <
vmap < <gv
vmap > >gv

"" Move visual block
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv


:map <Leader>m :action ToggleLineBreakpoint<CR>
:map <Leader>d :action Debug<CR>
:map <Leader>r :action Run<CR>
:map <Leader>b :action Compile<CR>
